/* 10-useContext (01) */

.dark {
  color: white;
  background-color: black;
  padding: 25px;
}

.light {
  color: black;
  background-color: white;
  padding: 25px;
}

.userLogin {
  color: white;
  font-size: 2rem;
  background-color: lightcoral;
  padding: 25px;
}

.language {
  color: white;
  font-size: 2rem;
  background-color: lightseagreen;
  padding: 25px;
}