@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --blue-darkest: #03045e;
  --blue-dark: #023e8a;
  --blue-medium: #077fcf;
  --blue-light: #0a9dff;
  --blue-lightest: #caf0f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #2b2d2f;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  cursor: default;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 159, 255, 0.04243704317664565) 100%
  );
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

main {
  width: 100vw;
  margin-bottom: 10em;
}

main > h1,
legend {
  margin: 4em auto 0;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 2em;
}

p {
  margin: 0;
}

button {
  background-color: var(--blue-light);
  color: white;
  font-weight: 600;
  width: fit-content;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--blue-medium);
}

button:disabled {
  background-color: var(--blue-lightest);
}

/* -----  navbar  ----- */

.logo {
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-left: 1em;
  border-radius: 100%;
}

.logo:hover {
  cursor: pointer;
}

.navUl {
  /* list-style: none; */
  display: flex;
  align-items: center;
}

.navUl > li:last-child {
  margin: 0 3vw;
}

.navUl > li > a {
  font-size: 1.1em;
  color: var(--blue-lightest);
  text-decoration: none;
}

.navUl > li > a:hover {
  color: white;
  cursor: pointer;
}

.navUl > li > div:hover {
  cursor: default;
}

.cartLink {
  position: relative;
}

.cartCount {
  position: absolute;
  display: flex;
  top: -0.85em;
  right: -0.75em;
  border-radius: 100%;
  background-color: #c8b6ff;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* -----  homepage + cards  ----- */

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
  margin: 0 auto;
  gap: 25px;
}

.homeMain {
  display: flex;
}

.hero {
  width: 100%;
  height: 350px;
  background-color: #0f256e;
  object-fit: contain;
  object-position: center;
}

.categories > * {
  width: 100%;
}

.categories > * {
  /* list-style: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2em;
}

.categories > * > * {
  margin: 0 5em;
  cursor: pointer;
}

.homeAside {
  width: 300px;
  height: fit-content;
  margin: 0 1em 10em 2.5em;
  padding: 2em 1em;
  background-color: var(--blue-medium);
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 10px;
}

.homeAside h3 {
  font-size: 1em;
  font-weight: 500;
}

.homeAside * {
  color: white;
  /* list-style: none; */
}

.homeAside nav {
  margin: 1em 0 1em 1em;
}

.homeAside nav li {
  margin: 0.5em 0;
}

.homeAside nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.homeAside nav ul li * {
  cursor: pointer;
}

.homeUl {
  /* list-style: none; */
  margin: 1em 0 0;
  padding-left: 1em;
}

.homeUl * {
  color: white;
  cursor: pointer;
  margin: 0.5em 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: 1px solid rgba(0, 0, 0, 0.005);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  width: -moz-fit-content;
  width: 250px;
  height: 450px;
  margin: 3% auto;
  padding-bottom: 2%;
  overflow: hidden;
}

.imgWrapper {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 5%;
}

.imgWrapper img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.textWrapper {
  height: 200px;
  padding: 0 5% 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.textWrapper h3 {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.priceWrapper {
  display: flex;
  align-items: center;
  margin: 0.5em 0 1em;
}

.priceWrapper > span {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0.2em;
}

.priceWrapper > :nth-child(2) {
  text-decoration: line-through;
  font-size: 1.1em;
}

.onSale {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 30%;
  padding: 2%;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  border-radius: 20px;
}

.onSalePrice {
  background-color: blueviolet;
  padding: 0 0.2em;
  border-radius: 5px;
  color: white;
}

.originalPrice {
  text-decoration: line-through;
  font-size: 1em;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.buttonWrapper * {
  font-size: 1.3em;
}

.buttonWrapper p {
  margin: 0 0.5em;
  font-size: 1em;
}

.buttonWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
}

/* -----  shopping cart  ----- */

.cartMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCart {
  font-size: 1.5em;
  margin: 2em 0;
}

.addToCart {
  padding: 0.2em 0.7em;
}

.removeCart {
  padding: 0.2em 0;
}

.checkOut {
  padding: 0.5em 0.7em;
  margin: 2em 0 0 45%;
}

.backBtn,
.nextBtn {
  padding: 0.5em 0.7em;
}

.cartList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 55vw;
  margin: 0 auto 1em;
  border: 1px solid rgba(0, 0, 0, 0.005);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  overflow: hidden;
}

.topCartList {
  height: 60px;
}

.topCartList > * {
  padding: 0;
}

.bar {
  height: 80%;
  flex: 0 0 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cartList > img {
  display: block;
  background-color: white;
  height: 100%;
  object-fit: contain;
  object-position: center;
  max-width: 20%;
  flex: 0 0 20%;
}

.cartList > p:not(.bar) {
  text-align: center;
}

.cartList > :first-child:not(img) {
  flex: 0 0 20%;
}

.cartList > :nth-child(2) {
  margin-left: 1em;
  flex: 0 0 35%;
}

.cartList > :nth-child(4) {
  flex: 0 0 15%;
}

.cartList > :nth-child(6) {
  flex: 0 0 15%;
}

.cartList > :last-child {
  flex: 0 0 10%;
  margin-right: 0.5em;
}

/* -----  user form  ----- */

.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

.userFieldset,
.shippingField,
.paymentField {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  font-size: 1em;
  height: fit-content;
}

.labelDiv > * {
  display: block;
  text-align: right;
  margin: 0 0 1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

.userFieldset input,
.inputDiv input {
  font-weight: 300;
  display: block;
  margin: 0 0 1em;
  background: none;
  border-bottom: 1px solid lightgray;
}

.userFieldset input:focus {
  outline: none;
  border-bottom: 1px solid slategray;
}

.backNextWrapper {
  margin: 2em 0 0;
  display: flex;
  width: 20vw;
  justify-content: space-between;
}

/* -----  shipping form  ----- */

.shippingForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 4em 0;
}

.inputDiv input {
  margin: 0.95em 0;
}

.shippingField legend,
.paymentField legend {
  margin: 2em 0 1em;
}

.shippingLabel {
  margin-top: 0.7em;
}

.shippingLabel > * {
  margin-bottom: 1.1em;
}

/* -----  overview  ----- */

.settingsOverview {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 10em;
  margin: 2em 0;
}

.settingsOverview > :first-child > :first-child {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 1em;
}

.settingsOverview > :first-child > :last-child {
  margin: 0 0 0 1em;
}

.settingsOverview > :first-child > :last-child * {
  font-weight: 300;
  line-height: 1.5em;
}

.settingsOverview > :last-child > * {
  font-weight: 300;
  line-height: 2em;
}

.settingsOverview > :last-child {
  margin-top: 2.5em;
}

/* -----  confirmation ----- */

.overviewMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderConfirmed {
  width: 60vw;
  text-align: center;
  margin: 0 auto;
}

.orderConfirmed > p {
  font-size: 1.3em;
  margin: 0 0 4em;
  font-weight: 300;
}

.orderConfirmed > p > * {
  font-size: 1em;
  font-weight: 500;
}

/* -----  loading spinner  ----- */

.spinner {
  display: block;
  color: teal;
  font-size: 2rem;
  margin: 0 auto;
  animation: animate 2s infinite;
  animation-timing-function: linear;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
